<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090785143278-05j7lo5nmsfnosukcl6mm77up2mt7cni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090785143278-05j7lo5nmsfnosukcl6mm77up2mt7cni</string>
	<key>API_KEY</key>
	<string>AIzaSyBzXNeWaEWoCk9fTu88tTRJ1WhMMOaoFcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1090785143278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambdaschool.Santa-I-Wish</string>
	<key>PROJECT_ID</key>
	<string>santaiwishbwunit4</string>
	<key>STORAGE_BUCKET</key>
	<string>santaiwishbwunit4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090785143278:ios:9b88be71b4ed314c04c6ff</string>
	<key>DATABASE_URL</key>
	<string>https://santaiwishbwunit4.firebaseio.com</string>
</dict>
</plist>
